details {
    border: 1px solid gray;
    border-radius: 8px;
    background-color: antiquewhite;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 50rem;
    height: auto;
}

details summary {
    font-weight: bold;
    cursor: pointer;
    list-style: none;
}

details summary::before {
    font-size: xx-large;
    font-weight: 900;
    content: '＋';
    margin-right: 0.5rem;
}

details[open] summary::before {
    content: '－';
}

details[open] {
    border: 2px solid black;
    background-color:lightcoral;
    box-shadow: 0.5rem 0.5rem #cccccc;
    margin-bottom: 1rem;
}
