body {
    background-color: darkkhaki;
}

#popover1:popover-open {
    inset: unset;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 300px;
    text-align: center;
    border: solid 1px gold;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}

#popover2:popover-open {
    inset: 0;
    width: 300px;
    text-align: center;
    border: solid 1px gold;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}

#popover3:popover-open {
    inset: unset;
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 300px;
    text-align: center;
    border: solid 1px gold;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}