body {
    background-color: lightgray;
}

button {
    display: block;
    margin: 0.5rem;
}

#hint-1 {
    anchor-name: --hint-1;
    margin: 0.5rem;
}

#hint-2 {
    anchor-name: --hint-2;
    margin: 0.5rem;
}

#popover-hint-1:popover-open {
    position-anchor: --hint-1;
    inset: unset;
    position: absolute;
    top: anchor(bottom);
    left: anchor(center);
    border: solid 1px black;
    box-shadow: 5px 5px 10px gray;
}

#popover-hint-2:popover-open {
    position-anchor: --hint-2;
    inset: unset;
    position: absolute;
    top: anchor(bottom);
    left: anchor(center);
    border: solid 1px black;
    box-shadow: 5px 5px 10px gray;
}
