body {
    background-color: slateblue;
}

#popover1:popover-open {
    inset: unset;
    position: absolute;
    top: 70px;
    left: 50px;
    width: 300px;
    text-align: center;
    border: solid 1px purple;
    border-radius: 10px;
    box-shadow: 5px 5px 10px silver;
}

#popover2:popover-open {
    inset: unset;
    position: absolute;
    top:  90px;
    left: 230px;
    width: 300px;
    text-align: center;
    border: solid 1px purple;
    border-radius: 10px;
    box-shadow: 5px 5px 10px silver;
}