body {
    background-color: lightblue;
}

#anchor {
    anchor-name: --anchor;
}

#popover:popover-open {
    position-anchor: --anchor;
    inset: unset;
    position: absolute;
    top: anchor(bottom);
    left: anchor(center);
    translate: 0 -10px;
    width: 300px;
    text-align: center;
    border: solid 1px blue;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
