body {
    background-color: peachpuff;
}

:popover-open {
    width: 300px;
    text-align: center;
    border: solid 1px palevioletred;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
