body {
    background-color: lightyellow;
}

button {
    display: block;
    margin-bottom: 1rem;
}

div.hints {
    margin-bottom: 1rem;
}

#word-popover {
    width: 400;
    text-align: center;
    border: solid 1px darkslategray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    background-color: white;
}

#shoyu {
    anchor-name: --shoyu;
}

#shio {
    anchor-name: --shio;
}

#miso {
    anchor-name: --miso;
}

#popover-shoyu {
    position-anchor: --shoyu;
}

#popover-shio {
    position-anchor: --shio;
}

#popover-miso {
    position-anchor: --miso;
}

.hint-popover:popover-open {
    opacity: 1;
    scale: 1;
    translate: 0 0;
}

.hint-popover {
    inset: unset;
    position: absolute;
    top: anchor(bottom);
    left: anchor(center);
    opacity: 0;
    scale: 0.8;
    translate: 0 8px;
    transition: all 0.7s allow-discrete;
    border: solid 1px black;
    box-shadow: 5px 5px 10px gray;
}

@starting-style {
    .hint-popover:popover-open {
        opacity: 0;
        scale: 0.8;
        translate: 0 8px;
    }
}
