body {
    background-color: white;
}

button, img {
    display: block;
    margin: 0.5rem;
}

[popover]:popover-open {
    transform-origin: left;
    transform: scaleX(1);
    width: 300px;
    text-align: center;
    border: solid 1px black;
    box-shadow: 5px 5px 10px gray;
}

[popover] {
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.7s;
    width: 300px;
    text-align: center;
    border: solid 1px black;
    box-shadow: 5px 5px 10px gray;
}

@starting-style {
  [popover]:popover-open {
    transform: scaleX(0);
  }
}
