pre {
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
  font-family: 'Courier New', monospace;
}

::highlight(highlight) {
  background-color: lightgray;
  color: red;
  font-weight: bold;
}
