/* ダイアログが閉じるときのアニメーション */
@keyframes fade-out {
  0% {
    opacity: 1.0;
    transform: scale(1, 1);
    display: block;
  }

  100% {
    opacity: 0;
    transform: scale(0, 0);
    display: none;
  }
}

dialog {
  animation: fade-out 1.0s ease-out;  /* fade-outキーフレーム、1秒、イーズアウト */
}

/* ダイアログが開くときのアニメーション */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0, 0);
    display: none;
  }

  100% {
    opacity: 1.0;
    transform: scale(1, 1);
    display: block;
  }
}

dialog[open] {
  animation: fade-in 1.0s ease-out;  /* fade-inキーフレーム、1秒、イーズアウト */
}

/* ダイアログが開くときの背景アニメーション */
@keyframes backdrop-fade-in {
  0% {
    background-color: rgba(0, 0, 0, 0.0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

dialog[open]::backdrop {
  animation: backdrop-fade-in 1.0s ease-out forwards;  /* backdrop-fade-inキーフレーム、1秒、イーズアウト、最終状態保持 */
}
